<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plan9.naseemdev.naseem">

    <service
        android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/naseem_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/naseem_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpSignIn"
            android:label="@string/title_activity_sign_up_sign_in"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Student"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_student"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowTest"
            android:parentActivityName=".Student" />
        <activity
            android:name=".TakeTest"
            android:parentActivityName=".Student" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewGame"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Principal"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Principal_Test"
            android:label="@string/string_test"
            android:parentActivityName=".Principal" />
        <activity
            android:name=".Student_Teacher_Profile"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parent"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrincipalShowScheduleTest"
            android:label=""
            android:parentActivityName=".Principal_Test" />
        <activity android:name=".PrincipalShowTestAttempts"
            android:parentActivityName=".Principal_Test"></activity>
    </application>

</manifest>